
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}



.collapse ul li a{
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: capitalize;
    color: hsl(46, 98%, 51%);
}

.collapse ul li:hover a{
    color: #0ce40c;
}

.list-unstyled li:hover a{
    color: rgb(133, 17, 241);
}

.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    overflow: hidden;
}

.cols{
    width: 90%;
}

.cols0{
    width: 90%;
    z-index: 5;
}

.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 4px;
    color: gray;
}

h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: gray;
}

.multiText{
    color: blueviolet;
    text-transform: capitalize;
}
